body {    
    background-image: url("Star_Wars.jpg");
    background-color: #cccccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }